*{
  padding: 0;
  margin: 0;
}

button{
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.App {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1000px;
}

.Crud__head{
  display: flex;
  margin-bottom: 20px;
}

.Crud__head button{
  margin-left: 15px;
}

.Crud__notes{
  display: flex;
  flex-wrap: wrap;
}

.Note{
  position: relative;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  margin: 30px;
}

.Note__text{
  padding: 10px;
}

.Note__delete{
  position: absolute;
  top: -21px;
  right: -21px;
}

.Crud__text-container{
  position: relative;
  width: 500px;
  height: 100px;
}

.Crud__text{
  width: 100%;
  height: 100%;
  resize: none;
  position: relative;
}

.Crud__submit{
  position: absolute;
  right: 0;
  bottom: 0;
}